<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Run the perception pipeline -->
    <include file="$(find delta_perception_rc_car)/launch/object_detection.launch" />

    <node
        pkg="tf"
        type="static_transform_publisher"
        name="static_rc_car_to_rviz"
        args="0 0 0 0 1.5708 -1.5708 rc_car rviz 100" />

    <include file="$(find delta_perception_rc_car)/launch/radar_detection.launch" />

    <node
        pkg="delta_tracking_fusion_rc_car"
        type="main.py"
        name="tracking_fusion"
        output="screen" />

    <node type="rviz" name="rviz" pkg="rviz"
        args="-d $(find delta_tracking_fusion_rc_car)/tracking_fusion.rviz" />

</launch>
