<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Run the perception pipeline -->
    <!-- <include file="$(find delta_perception_rc_car)/launch/object_detection.launch" /> -->

    <node
        pkg="delta_perception_rc_car"
        type="main.py"
        name="object_detection"
        output="screen">
    </node>

    <include file="$(find delta_perception_rc_car)/launch/radar_detection.launch" />

    <node
        pkg="delta_tracking_fusion_rc_car"
        type="main.py"
        name="tracking_fusion"
        output="screen">
    </node>

    <node
        type="rviz" name="rviz" pkg="rviz" args="-d $(find delta_tracking_fusion_rc_car)/tracking_fusion.rviz">
    </node>

    <!-- <node
        type="rviz" name="rviz" pkg="rviz" args="-d $(find delta_optitrack)/optitrack.rviz">
    </node> -->

</launch>
